$background-color: #f8fafc;
$white: #fff;
$color: #334155;
$small: #999999;
$border: #c0c0c0;
$focus: #4f46e5;
$lowfocus: #c5c2ff;
$hover: #eae9ff;
$warning: #fffeeb;
$danger: #f8fcc0;
$success: #e7ffe1;
.navbarOut {
  width: 340px;
  height: 100%;
  background-color: $white;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  overflow: hidden;
  color: $color;
}
.navbarOutNew {
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  overflow: hidden;
  color: $color;
}
.navbar {
  width: 100%;
  height: calc(100% - 72px);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}
.navbar::-webkit-scrollbar {
  width: 5px;
}
.navbar::-webkit-scrollbar-track {
  background: $hover;
  border-radius: 10px;
}
.navbar::-webkit-scrollbar-thumb {
  background: $focus;
  border-radius: 10px;
}
.navbar::-webkit-scrollbar-thumb:hover {
  background: $focus;
}
.topNav {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
  p {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    font-size: 22px;

    &:hover {
      cursor: pointer;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  span {
    width: calc(100% - 102px);
    height: 56px;
    box-sizing: border-box;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    b {
      font-size: 32px;
      font-weight: 500;
      color: $focus;
    }
  }
}
.eachNav {
  width: 100%;
  border-radius: 8px;
  height: 56px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
  transition: all 0.4s;
  color: $color;
  &:hover {
    cursor: pointer;
    background-color: $hover;
    color: $focus;
    transition: all 0.4s;
  }
  span:first-child {
    width: 64px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    img {
      width: 48px;
      height: 48px;
    }
  }
  span:last-child {
    width: calc(100% - 64px);
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.activeNav {
  width: 100%;
  height: calc(100% - 72px);
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}
.activeNav::-webkit-scrollbar {
  width: 5px;
}
.activeNav::-webkit-scrollbar-track {
  background: $hover;
  border-radius: 10px;
}
.activeNav::-webkit-scrollbar-thumb {
  background: $focus;
  border-radius: 10px;
}
.activeNav::-webkit-scrollbar-thumb:hover {
  background: $focus;
}
.menu {
  visibility: hidden;
}
@media only screen and (max-width: 848px) {
  .menu {
    visibility: visible;
  }
  .navbarOut {
    width: 100%;
    padding: 8px;
    background: none;
    border-radius: 0px;
    height: 100% !important;
  }
  .navbarOutNew {
    width: 100%;
    padding: 8px;
    background: none;
    border-radius: 0px;
    height: 100% !important;
    background-color: $lowfocus;
  }
  .navbar {
    height: 0;
    overflow: hidden !important;
  }
  .activeNav {
    height: calc(100% - 62px) !important;
    overflow-y: auto !important;
    background-color: $white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0;
    z-index: 500;
    transform: translateX(100%);
    animation: fadeIn 1s 1 forwards;
  }
  .activeNav::-webkit-scrollbar {
    width: 0px;
  }

  .topNav {
    margin: 0px !important;
    padding: 8px 0px !important;
    border-radius: 8px;
    background-color: $white;
    p {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  @keyframes fadeIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
